<?xml version="1.0" encoding="UTF-8"?>
<phpunit>

<testsuites>
    <testsuite name="Application Test Suite">
        <directory suffix="testGalleryClass.php">tests</directory>
    </testsuite>
</testsuites>
<filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">src</directory>
        <file>GalleryClass.php</file>
    </whitelist>
</filter>

</phpunit>
